#root {
  height: 100vh;
}
:root {
  font-size: 14px;
}
html {
  margin: 0;
}
body {
  margin: 0;
}
.main,
.shop,
.main-cart {
  width: 100%;
  height: -o-calc(100vh - 60px); /* opera */
  height: -webkit-calc(100vh - 60px); /* google, safari */
  height: -moz-calc(100vh - 60px); /* firefox */
  top: 60px;
  position: relative;
  background: url("./assets/bg1.png");
  background-size: cover;
}
.container {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.header {
  display: flex;
  position: fixed;
  height: 60px;
  width: 100vw;
  background: grey;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
  z-index: 1;
}
.links {
  display: flex;
  gap: 2vw;
  gap: 2vw;
}
.link {
  color: black;
  appearance: none;
  display: flex;
}
h2 {
  margin: 0;
}
.cartnum {
  font-size: 1rem;
  position: relative;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
  text-align: center;
  top: -8px;
  left: -2px;
}
.cartimg {
  width: 20px;
  height: 20px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 23vw);
  grid-template-rows: repeat(auto);
  gap: 5vw;
  background: rgba(228, 225, 225, 1);
  padding: 5vw;
}
.image {
  width: 100px;
  height: auto;
  justify-self: center;
  align-self: center;
}
.product {
  background: white;
  display: grid;
  grid-template-rows: auto 4rem 1.5rem 1.5rem 30px;
  justify-content: center;

  padding: 2vw;
  gap: 2vh;
  text-align: center;
}
.ptitle {
  line-height: 2;
  width: 160px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.price {
  font-size: 1.5rem;
  font-weight: 600;
}
.cartitem {
  display: flex;
}
.carticon {
  width: 20px;
  height: 20px;
}
.cart-image {
  width: auto;
  height: 30px;
}
.cartitems {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.cartitem {
  background: white;
  display: flex;
}
.cartdiv {
  display: flex;
  flex-direction: column;
}
.extrainfo {
  display: flex;
}
.main-cart {
  background: rgba(228, 225, 225, 1);
}
.cartsection {
  display: flex;
  justify-content: space-around;
}
.sidebar {
  display: flex;
  font-size: 16px;
  padding: 2vw;
  gap: 2vw;
  background: rgba(228, 225, 225, 1);
}
select,
.select {
  background: transparent;
  border: none;
  width: max-content;
  font-size: 16px;
  appearance: none;
  text-decoration: underline;
}
select:active,
select:focus,
select:hover,
select {
  appearance: none;
  border: none;
}
.loadinggif {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;

  justify-self: center;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
